.add-button {
    background-image: url(../../images/plus.svg);
    align-self: center;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.2s;
}

.add-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .add-button {
        background-size: 22px;
        width: 282px;
    }
}